header {
    background-image: url("imagenes/fondo.jpg");
}

header div {
    width: 80%;
    margin: auto;
    padding: 15px;
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px red;
    font-size: 50px;
}

#h2_index {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: darkred;
    font-size: 30px
}

#h4_index {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    border-bottom: 2px solid darkred;
    font-size: 15px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#botones {
    display: flex;
    justify-content: center;
}

button {
    border: 2px solid darkred;
    margin: 2px;
    padding: 15px;
    border-radius: 10px 0px;
    text-align: center;
    width: 200px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

button:focus {
    background-color: white;
    color: darkred;
    border: 2px solid darkred;
    padding: 10px;
    border-radius: 10px 0px;
}

main {
    width: 80%;
    margin: auto;
    background-color: linen;
    border: 2px solid linen;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Alice', serif;
}

main h3 {
    color: darkred;
    font-family: 'Alice', serif;
}

main a:link {
    color: gray;
    font-weight: bolder;
    font-style: italic;
}

#link_sin_italica {
    font-style: normal;
}

p {
    text-indent: 25px;
}

:lang(en) {
    color: darkred;
    font-style: italic;
}

.nombres_propios {
    font-weight: bolder;
}

cite {
    color: dimgray;
    font-weight: bolder;
}

blockquote {
    background: rgb(238, 238, 238);
    border-left: 10px solid rgb(206, 204, 204);
    margin: 30px;
    padding: 30px;
    line-height: 30px;
}

blockquote:before {
    color: rgb(206, 204, 204);
    content: open-quote;
    font-size: 7em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: rgb(206, 204, 204);
    content: close-quote;
    font-size: 6em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}

img {
    padding: 15px;
    border-top: solid;
    border-color: dimgrey;
    box-shadow: 10px 10px 5px grey;
}

footer {
    border: 2px solid darkred;
    background-color: darkred;
    text-align: center;
    color: white;
    font-family: 'Alice', serif;
}

#enlace_footer_1:link {
    color: white;
    font-weight: bolder;
    font-style: italic;
}

#enlace_footer_1:visited {
    color: grey;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    text-decoration: none
}

footer a:link {
    color: white;
    font-weight: bolder;
}

/* Historia */

#historia {
    line-height: 1.5;
}

.borde {
    width: auto;
    padding: 10px;
    border-left: 5px solid darkred;
    margin: 30px;
}

.borde dl {
    text-indent: 80px;
}

.h2_historia {
    font-style: italic;
    color: darkred;
}

.item_flash {
    list-style-image: url("imagenes/logo_flash2.png");
    font-size: 17px;
}

.item_negro {
    list-style-type: initial;
}

.item_blanco {
    list-style-type: circle;
}

.lang_en_negro {
    color: black;
}

.texto_bold {
    font-weight: bolder;
}

/* Alternativas */

#h4_alternativas {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: darkred;
    border-bottom: 2px solid darkred;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    justify-content: center;
}

.caja {
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(165, 165, 165);
    margin: 15px;
    padding: 10px;
    width: 240px;
    height: 190px;
    border-radius: 10px 5px 0px 0px;
    color: black;
    background-image: linear-gradient(0deg, linen 70%, cadetblue 30%);
}

.caja p {
    font-size: 12px;
    margin: 0px;
}

h5 {
    color: darkred;
    text-align: right;
    margin: 10px;
    font-size: 15px;
}

.imagen_html {
    width: 55px;
    height: 55px;
    border: 0px;
    margin: 0px;
    box-shadow: none;
}

.texto_verde {
    color: green;
}